* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 5%;
  color: darkgoldenrod;
  display: flex;
  justify-content: center;
}

form, button {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  gap: 1%;
}

.log{
  margin-top: 2%;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}
span {
  color: red;
}

button {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  width: 150%;


}